.container {
  padding: 20px;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px; 
  justify-content: space-between; 
}


mat-card {
  border-radius: 24px;
  box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.849), 0 6px 20px 0 rgb(255, 0, 0);
  transition: transform 0.3s ease;
}

.card-wrapper > mat-card:nth-child(4) {
  grid-column: 2 / 3;
}

mat-card:hover {
  transform: translateY(-5px);
}

.chart-card {
  padding: 10px;
  background-color: #ffffff;
}

.pulse-info {
  padding: 20px;
  background-color: #ffffff;
  display: grid;
  place-items: center;
}

.time-label {
  font-size: 18px;
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.measurement-time {
  display: block;
  padding-top: 25px;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.pulse-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pulse-icon {
  margin-right: 10px;
}

.heart-icon {
  color: red;
  font-size: 26px;
}

.pulse-value {
  font-size: 36px;
  font-weight: bold;
}

.data-info {
  padding: 20px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

.data-item {
  font-size: 16px;
  margin-bottom: 10px; 
}

.data-item span {
  font-weight: bold;
}

.average-pulse {
  padding: 20px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

.average-pulse p {
  font-size: 16px;
  margin-bottom: 10px; 
}

.bold {
  font-weight: bold; 
}

.average-pulse p:last-child {
  margin-bottom: 0;
}

.average-pulse-content {
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  mat-card {
    margin-bottom: 20px;
    text-align: center;
    width: calc(100% - 20px); 
  }
}
