<div class="container" *ngIf="dataLoaded">
  <div class="card-wrapper">
    
    <mat-card class="chart-card">
      <canvas id="myChart" width="400" height="400"></canvas>
    </mat-card>
    
    <mat-card class="pulse-info">
      <div class="time-label">
        <span>Mérés ideje:</span>
        <span>{{ lastMeasurementTime }}</span>
      </div>
      <div class="pulse-content">
        <div class="pulse-icon">
          <mat-icon class="heart-icon">favorite</mat-icon> <!-- Szív ikon -->
        </div>
        <div class="pulse-value">
          {{ lastPulse }} <!-- Utolsó mért pulzus eredménye -->
        </div>
      </div>
    </mat-card>

    <mat-card class="data-info">
      <div class="data-item">
        A mai nap mért adatok száma: <span>{{ todaysMeasurementCount }}</span>
      </div>
      <div class="data-item">
        A héten mért adatok száma: <span>{{ weeklyMeasurementCount }}</span>
      </div>
      <div class="data-item">
        Összes mérések száma: <span>{{ totalMeasurementCount }}</span>
      </div>
    </mat-card>

    <mat-card class="average-pulse">
      <mat-card-content>
        <p>Átlagos pulzus: {{ averagePulse }}</p>
        <p>Szórás: {{ pulseVariance }}</p>
        <p>Max: {{ maxPulse }}</p>
        <p>Min: {{ minPulse }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
