<div class="mat-container">
  <form class="login-form" [formGroup]="form">
    <h3>Bejelentkezés</h3>
    <mat-form-field>
      <mat-label>Add meg az e-mail címed</mat-label>
      <input type="email" matInput placeholder="Ex: pat@example.com" formControlName="email">
      <mat-error *ngIf="form.get('email')!.hasError('required')">
        Az e-mail cím megadása kötelező
      </mat-error>
      <mat-error *ngIf="form.get('email')!.hasError('email')">
        Az e-mail cím formája érvénytelen
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Add meg a jelszavad</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" type="password" placeholder="Password" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('password')!.hasError('required')">
        A jelszó megadása kötelező
    </mat-error>
    </mat-form-field>
    <mat-error *ngIf="loginError">
      Helytelen e-mail vagy jelszó. Próbáld újra!
    </mat-error>
    <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="login()"
      *ngIf="!isLoggingIn" test-id="login-button">
      Bejeltkezés
    </button>
    <button mat-raised-button color="primary" class="button-loader" *ngIf="isLoggingIn"
            test-id="login-loader">
            <mat-spinner color="accent" diameter="20"></mat-spinner>
    </button>
    <a class="pt-4 mat-h5" routerLink="/signup">Regisztráció</a>
  </form>
</div>
