<main class="login-container">
  <div class="login">
    <article>
      <div class="box">
        <form class="login-form">
          <h3>Log In</h3>
          <mat-form-field class="example-full-width">
            <input type="email" matInput [(ngModel)]="email" placeholder="Enter your email" name="email"> 
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input type="password" matInput [(ngModel)]="password" placeholder="Enter your password" name="password">
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="login()">Log In</button>
        </form>
      </div>
    </article>
  </div>

  <div class="image-container">
    <img src="../../../assets/images/heart.jpg">
  </div>
</main>