<div class="login">
  <article>
    <div class="box">
      <form class="login-form">
        <h3>Log In</h3>
        <mat-form-field class="w-100">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <button class="w-100" mat-raised-button color="primary" (click)="login()">Log In</button>
        <a class="pt-4 mat-h5" routerLink="/signup">SIGN UP</a>
      </form>
    </div>
  </article>
</div>
