<div class="mat-container"> 
  <h1>Plethysmographia</h1>
  <p>Plethysmography is a method that measures volume changes in <br> 
    a specific area or the entire body, typically by monitoring blood flow or respiration. <br>
    The term generally encompasses vascular plethysmography and peripheral <br>
    pulse plethysmography used by pulse oximeters. <br> <br>
    In vascular plethysmography, volume changes in blood vessels are measured using <br>
    a specialized sensor. This allows tracking of vascular abnormalities, <br>
    such as arterial spasms or hematoma. <br> <br>
    
    Peripheral pulse plethysmography is a method often applied to the fingertip or earlobe. <br> 
    The device tracks arterial pulses and can be used for monitoring pulse and oxygen levels.
  </p>
</div>
