<div class="mat-container"> 
  <h1>Pletizmográfia</h1>
  <p>A pletizmográfia egy olyan módszer, amelynek segítségével <br> 
    térfogatváltozásokat mérhetünk egy adott területen a testben vagy a test egész területében, <br>
    ez általában a véráramlás vagy a légzés figyelemmel kísérésével történik. <br>
    A fogalom általában magában foglalja a vaszkuláris pletizmográfiát és a perifériás <br>
    pulzusplesztizmográfiát, amelyet pulzusoximéterek használnak. <br> <br>

    A vaszkuláris pletizmográfia során a vérerek térfogatváltozásait egy speciális érzékelő <br> 
    segítségével mérjük. Ez lehetővé teszi a vaszkuláris rendellenességek, például az <br> 
    artériás görcsök vagy hematoma követését. <br> <br>
    
    A perifériás pulzusplesztizmográfia egy olyan módszer, amely gyakran alkalmazható az <br> 
    ujjhegyen vagy fülcimpán. Az eszköz nyomon követi az artériás pulzusokat, és használható <br> 
    a pulzus és az oxigénszintek monitorozására.
  </p>
</div>
