<main>
    <div class="home"> 
      <article>
      <div class="p-lg-5 mx-auto text-md-end">
        <img src="../../../assets/images/pulse_heart.jpg">
        <h1 class="display-4 fw-normal">Plethysmographia</h1>
        <p class="lead fw-normal pt-10">A plethysmograph is an instrument for measuring <br>
          changes in volume within an organ or whole body <br>
          (usually resulting from fluctuations in the amount<br> of blood or air it contains).
        </p>
      </div>
      </article>
    </div>
</main>
  