div.home {
    background-image: url("../../../assets/images/image.png");
    background-color: black;
    background-size: 20%;
    background-repeat: no-repeat; 
    height: 90vh;
    background-position: 85% 30%;   
}

.text {
    z-index: 1;
    position: relative;
    text-align: justify;

}
p, h1 {
    color:  white;
}
